@model iMarket.Models.Role

@{
    ViewData["Title"] = "Xóa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-3">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Quản lý quyền truy cập</a></li>
        <li class="breadcrumb-item active" aria-current="page">Xóa quyền truy cập</li>
    </ol>
</nav>

<div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">BẠN CÓ CHẮC MUỐN XÓA QUYỀN TRUY CẬP?</h4>
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-bold-500 col-md-2">ID:</td>
                            <td>@Html.DisplayFor(model => model.RoleId)</td>
                        </tr>
                        <tr>
                            <td class="text-bold-500 col-md-2">Tên quyền truy cập:</td>
                            <td>@Html.DisplayFor(model => model.RoleName)</td>
                        </tr>
                        <tr>
                            <td class="text-bold-500 col-md-2">Mô tả:</td>
                            <td>@Html.DisplayFor(model => model.Description)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="RoleId" />
                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> |
                <a asp-action="Index">Quay lại</a>
            </form>
        </div>
    </div>
</div>