.text-al-end{
    text-align:end;
}

.mg-l-1{
    margin-left:1rem;
}

.flex-content {
    display: flex;
    flex-wrap: wrap;
}

.editor-label {
    width: 40%;
}

.editor-field {
    width: 60%;
}

.text-value {
    color: #66BAE8;
}

.t-item {
    border: 1px solid #A7BAC5;
}

.t-header {
    background: #66BAE8;
    color: #fff;
    font-weight: bold;
    padding: 0.8rem;
}

.t-content {
    padding: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 100px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 24rem;
    border-radius: 0.5rem;
}

.img-question {
    padding-left: 1rem;
}

.modal-noti {
    padding: 0 1.5rem 1rem;
}

.title-noti {
    display:inline-block;
    padding: 1rem 1rem 0;
    font-weight: bold;
}

.modal-header-noti {
    border-bottom: 1px solid #CACACA;
    margin-bottom: 1rem;
}

.model-tool {
    padding: 1rem;
}

.close {
    color: #808080;
    float: right;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #C1C1C1;
    cursor: pointer;
}

.image-selector {
    background: #C1C1C1;
    width: 12rem;
    color: #fff;
    text-align: center;
    cursor:pointer;
}

.image-selector:hover {
    background: #808080;
}

.border-img {
    width: 12rem;
    height: 12rem;
    border: 1px solid #DFE3E7;
    background: #F3F3F3;
}

.btn-delete {
    color: #fff;
    background: #B2B3B3;
}

.btn-delete:hover {
    color: #fff;
    background: #9FA4A1;
}

.btn-basic {
    color: #fff;
    background: #51AAB2;
}

.btn-basic:hover {
    color: #fff;
    background: #336666;
}

.row-hover {
    position: relative;
    transition: box-shadow 0.2s ease;
}

.row-hover:hover {
    box-shadow: inset 4px 0 0 0 #727E8C;
}

.btn-custom {
    font-size: .75rem;
}

.btn-custom-view {
    color: #7F93E5;
    background: #EDF1FC;
}
.btn-custom-view:hover {
    color: #EDF1FC;
    background: #7F93E5;
}

.btn-custom-delete {
    color: #DC3545;
    background: #F8D7DA;
}

.btn-custom-delete:hover {
    color: #F8D7DA;
    background: #DC3545;
}

.btn-custom-edit {
    color: #50A99E;
    background: #DFF5F4;
}

.btn-custom-edit:hover {
    color: #DFF5F4;
    background: #50A99E;
}

.btn-none-box-shadow:focus{
    box-shadow:none;
}